---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
    <li>
        <Link href={PATHS.mmi1.TP_HTML5}>
          {t("menu.mmi1.TP.html5")}
        </Link>
    </li>
    <li>
        <Link href={PATHS.mmi1.TP_CSS}>
          {t("menu.mmi1.TP.css")}
        </Link>
    </li>
    <li>
        <Link href={PATHS.mmi1.TP_formulaire}>
          {t("menu.mmi1.TP.formulaire")}
        </Link>
    </li>
    <li>
        <Link href={PATHS.mmi1.TP_phpVarTab}>
          {t("menu.mmi1.TP.phpVarTab")}
        </Link>
    </li>
    <li>
        <Link href={PATHS.mmi1.TP_phpForm}>
          {t("menu.mmi1.TP.phpForm")}
        </Link>
    </li>
</ul>