---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
    <li>
        <Link type="TD" href={PATHS.semestre2.td.bootstrap}>
            {t("menu.semestre2.integration.td.bootstrap")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre2.tp.hover}>
            {t("menu.semestre2.integration.tp.hover")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre2.tp.transition}>
            {t("menu.semestre2.integration.tp.transition")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre2.tp.dropdown}>
            {t("menu.semestre2.integration.tp.dropdown")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre2.tp.pluginJs}>
            {t("menu.semestre2.integration.tp.pluginjs")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre2.tp.eventJs}>
            {t("menu.semestre2.integration.tp.eventJs")}
        </Link>
    </li>
    
</ul>