---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
    <li>
        <Link type="CM" href={PATHS.semestre1.cm.html}>
            {t("menu.mmi1.CM.HTML")}
        </Link>
    </li>
    <li>
        <Link type="CM" href={PATHS.semestre1.cm.css}>
            {t("menu.mmi1.CM.CSS")}
        </Link>
    </li>
    <li>
        <Link type="TD" href={PATHS.semestre1.td.html}>
            {t("menu.mmi1.TD.HTML5")}
        </Link>
    </li>
    <li>
        <Link type="TD" href={PATHS.semestre1.td.css}>
            {t("menu.mmi1.TD.CSS")}
        </Link>
    </li>
    <li>
        <Link type="TD" href={PATHS.semestre1.td.formulaire}>
            {t("menu.mmi1.TD.formulaire")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre1.tp.HTML5}>
            {t("menu.mmi1.TP.html5")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre1.tp.CSS}>
            {t("menu.mmi1.TP.css")}
        </Link>
    </li>
    <li>
        <Link type="TP" href={PATHS.semestre1.tp.formulaire}>
            {t("menu.mmi1.TP.formulaire")}
        </Link>
    </li>
</ul>