---
import Link from './Link.astro'
import MenuIcon from './MenuIcon.astro'
import {PATHS} from '../paths.js'
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<script is:inline>
function handleClick() {
  document.getElementById('sidebar').classList.toggle('-translate-x-full')
}

document.getElementById('sidebar').class = sideBarClass
</script>

<button onclick="handleClick()" aria-controls="sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <MenuIcon />
</button>


<aside id="sidebar" class="fixed top-0 left-0 z-40 w-72 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <div class="flex justify-between items-center">
      <Link href="/" class="flex items-center ps-2.5 mb-5">
         <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">MMI2 Dev</span>
      </Link>
      <button type="button" onclick="handleClick()" aria-controls="sidebar" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
       <span class="sr-only">Close sidebar</span>
       <MenuIcon />
      </button>
      </div>
      <ul class="space-y-2 font-medium menu">
            <li>
              <Link href={PATHS.home}>
                {t("menu.home")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.intro}>
                {t("menu.intro")}
              </Link>
            </li>
            <li className="menu-title mt-4">
             <span>{t("menu.begin.title")}</span> 
             <ul>
            <li>
              <Link href={PATHS.begin.variables}>
                {t("menu.begin.children.variables")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.types}>
                {t("menu.begin.children.types")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.functions}>
                {t("menu.begin.children.functions")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.objects}>
                {t("menu.begin.children.objects")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.arrays}>
                {t("menu.begin.children.arrays")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.events}>
                {t("menu.begin.children.events")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.conditions}>
                {t("menu.begin.children.conditions")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.loops}>
                {t("menu.begin.children.loops")}
              </Link>
            </li>
            <li>
              <Link
                href={PATHS.begin.arrayFunctions}
              >
                {t("menu.begin.children.arrayFunctions")}
              </Link>
            </li>
            <li>
              <Link
                href={PATHS.begin.objectFunctions}
              >
                {t("menu.begin.children.objectFunctions")}
              </Link>
            </li>
            <li>
              <Link
                href={PATHS.begin.form}
              >
                {t("menu.begin.children.form")}
              </Link>
            </li>
            <li>
              <Link href={PATHS.begin.exercises}>
                {t("menu.begin.children.exercises")}
              </Link>
            </li>
             </ul>
            </li>
            <li className="menu-title mt-4">
              <span>{t("menu.intermediate.title")}</span>
              <ul>
              <li>
                <Link href={PATHS.intermediate.promises}>
                  {t("menu.intermediate.children.promises")}
                </Link>
              </li>
              <li>
                <Link href={PATHS.intermediate.asyncAwait}>
                  {t("menu.intermediate.children.asyncAwait")}
                </Link>
              </li>
              <li>
                <Link href={PATHS.intermediate.fetch}>
                  {t("menu.intermediate.children.fetch")}
                </Link>
              </li>
              <li>
                <Link href={PATHS.intermediate.storages}>
                  {t("menu.intermediate.children.storages")}
                </Link>
              </li>
              <li>
                <Link href={PATHS.intermediate.exercises}>
                  {t("menu.intermediate.children.exercises")}
                </Link>
              </li>
              </ul>
            </li>
            <li className="menu-title mt-4">
              <Link href={PATHS.jquery}>{t("menu.jquery.title")}</Link>
            </li>
      </ul>
   </div>
</aside>

