---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <Link href={PATHS.js.intro}>
      {t("menu.js.intro")}
    </Link>
  </li>
  <li className="mt-4">
    <details open>
      <summary>{t("menu.js.begin.title")}</summary>
      <ul>
        <li>
          <Link href={PATHS.js.begin.variables}>
            {t("menu.js.begin.children.variables")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.types}>
            {t("menu.js.begin.children.types")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.functions}>
            {t("menu.js.begin.children.functions")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.objects}>
            {t("menu.js.begin.children.objects")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.arrays}>
            {t("menu.js.begin.children.arrays")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.events}>
            {t("menu.js.begin.children.events")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.conditions}>
            {t("menu.js.begin.children.conditions")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.loops}>
            {t("menu.js.begin.children.loops")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.arrayFunctions}>
            {t("menu.js.begin.children.arrayFunctions")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.objectFunctions}>
            {t("menu.js.begin.children.objectFunctions")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.form}>
            {t("menu.js.begin.children.form")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.begin.exercises}>
            {t("menu.js.begin.children.exercises")}
          </Link>
        </li>
      </ul>
    </details>
  </li>
  <li className="menu-title mt-4">
    <details open>
      <summary>{t("menu.js.intermediate.title")} </summary>
      <ul>
        <li>
          <Link href={PATHS.js.intermediate.promises}>
            {t("menu.js.intermediate.children.promises")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.intermediate.asyncAwait}>
            {t("menu.js.intermediate.children.asyncAwait")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.intermediate.fetch}>
            {t("menu.js.intermediate.children.fetch")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.intermediate.storages}>
            {t("menu.js.intermediate.children.storages")}
          </Link>
        </li>
        <li>
          <Link href={PATHS.js.intermediate.exercises}>
            {t("menu.js.intermediate.children.exercises")}
          </Link>
        </li>
      </ul>
    </details>
  </li>
  <li className="menu-title mt-4">
    <Link href={PATHS.js.jquery}>{t("menu.js.jquery.title")}</Link>
  </li>
</ul>
