---
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "layouts/Layout.astro";
import type { Answers } from "types";
import { getCookieName } from "utils/getCookieName";
import { getQuiz } from "utils/getQuiz";

const { quizId } = Astro.params;
if (!quizId) {
  return Astro.redirect("/404");
}

const cookieKey = getCookieName(quizId);
const quizData = await getQuiz(quizId, Astro.session);

if (!(await Astro.session?.has(cookieKey))) {
  return Astro.redirect(`/quiz/${quizId}/1`);
}
const answersCookie = await Astro.session?.get(cookieKey);

if (!answersCookie || !quizData) {
  return Astro.redirect(`/quiz/${quizId}/1`);
}
const answers: Answers = JSON.parse(answersCookie) as Answers;
if (
  Object.keys(answers).length !==
  (quizData?.questionsPerTest ?? quizData.questions?.length ?? 0)
) {
  return Astro.redirect(`/quiz/${quizId}/1`);
}

const correctAnswers = Object.entries(answers)?.reduce(
  (acc, [questionIndex, answerIndex]) =>
    acc +
    (quizData.questions[questionIndex]?.correctAnswerIndex === answerIndex
      ? 1
      : 0),
  0
);

const meta = {
  title: `Resultat | Quiz - ${quizData.name}`,
  description: `Decouvrez le resultat de votre quiz!`,
};
---

<Layout title={meta.title}>
  <div class="flex flex-col items-center justify-center gap-4">
    <section class="flex flex-col gap-4">
      <h1 class="flex flex-col gap-2">
        Quiz {quizData.name} terminé ! <strong>Vous avez...</strong>
      </h1>
    </section>
    <section class="flex flex-col gap-8">
      <div
        class="flex flex-col items-center justify-center gap-4 rounded-xl bg-base-300 p-8 not-prose"
      >
        <p class="flex items-center gap-4 font-semibold text-3xl">
          {quizData.name}
        </p>
        <div class="text-9xl">{correctAnswers}</div>
        <div class="text-foreground-brand/70">
          sur {quizData.questionsPerTest}
        </div>
      </div>
      {
        quizData.mode === "exam" ? (
          <a
            href={getRelativeLocaleUrl(
              Astro.currentLocale,
              `/quiz/${quizId}/reset`
            )}
            class="btn btn-primary"
          >
            Relancer le quiz
          </a>
        ) : (
          <div />
        )
      }
    </section>
  </div>
</Layout>
